<a href="https://colab.research.google.com/github/GTD2101-ACD-GA-AD22/python-ricardo-qm/blob/main/6.%20Strings%20Dicc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stings y Diccionarios

In [1]:
print("Pluto's a planet!")

print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [2]:
'Pluto\'s a planet!'

"Pluto's a planet!"

In [3]:
hello = "hello\nworld"

triplequoted_hello = """hello
world"""


print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

# Métodos de Strings

Los Strings son objetos y por tanto incluyen un conjunto de métodos para su manipulación.

In [4]:
# ALL CAPS
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [5]:
claim

'Pluto is a planet!'

In [6]:
# all lowercase
claim.lower()

'pluto is a planet!'

In [7]:
claim

'Pluto is a planet!'

In [8]:
# Searching for the first index of a substring
claim.index('plan')

11

In [9]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [11]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')

'31'

In [12]:
year

'1956'

In [13]:
month

'01'

In [14]:
day

'31'

In [15]:
'/'.join([month, day, year])

'01/31/1956'

In [18]:
altura=10
base=5
area=base * altura / 2
print("El area del triangulo es igual a " + str(area))

El area del triangulo es igual a 25.0

In [21]:
print(f"El area del triangulo es igual a {area:5.2f}")

El area del triangulo es igual a 25.00

In [22]:
print(r"El area del triangulo es igual a {area:5.2f}")

El area del triangulo es igual a {area:5.2f}

# Diccionarios

Es un tipo de colección que permite guardar datos con una estructura llave:valor.

In [24]:
numbers = {'one':1, 'two':2, 'three':3}

numbers['one']

1

In [25]:
numbers['three']

3

In [26]:
numbers['eleven'] = 11
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [27]:
numbers['one'] = 'Pluto'
numbers

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [28]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [29]:
'Saturn' in planet_to_initial

True

In [30]:
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

one = Pluto
two = 2
three = 3
eleven = 11

In [31]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [32]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"